.header-border {
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}
.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-logo {
}
.nav-menu {
  display: none;
  margin-left: auto;
}
.nav-menu-item {
  display: flex;
  gap: 28px;
}
.nav-menu-item li:first-child a {
  color: #bbf330;
  text-decoration: underline;
}
.nav-menu-list {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-btn {
  display: none;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
  background-color: #bbf330;
  color: #2c2c2c;
  text-align: right;
  font-family: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:focus,
.header-btn:hover {
  background: #ffe450;
}

.mob-menu-btn {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  margin-left: auto;
  position: static;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------MOB-MENU----------- */

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #bbf330;
  width: 170px;
  height: 311px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mob-menu-close-btn {
  margin-left: auto;
  position: absolute;
  top: 7px;
  right: 9px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-menu-nav {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  :32px ;
}
.mob-menu-list {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--black);
}

.mob-menu-nav > li:first-child a {
  color: #2c2c2c;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .mob-menu-btn {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
  .header-btn {
    display: inline-flex;
  }
}
