.hero-wrapper {
    background: var(--White, #FEFEFE);
    width: 266px;
}

.hero-title {
color: #2C2C2C;
font-size: 28px;
font-weight: 700;
line-height: normal;
margin-bottom: 28px;  
}
.hero-text {
color: var(--Black, #2C2C2C);
font-size: 14px;
font-weight: 400;
line-height: 1.4;
margin-bottom: 32px;
}
.hero-btn {
color: var(--Black, #2C2C2C);
font-size: 13px;
font-weight: 500;
line-height: 1.5;

display: inline-flex;
padding: 6px 18px;
justify-content: center;
align-items: center;
border-radius: 30px;
background-color: #BBF330;
border: transparent;

}