.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    position: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    position: absolute;
    width: 320px;
    min-height: 449px;
    border-radius: 30px;
background: #FFE550;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}