/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--Black, #2c2c2c);
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}
